.todo-input{
    height: 30px;
    width: 190px;
}
.todo-date{
    height: 32px;
    width: 130px;
}
button{
    height: 34px;
    width: 80px;
    background-color: green;
    border: none;
    font-weight: bold;
    cursor: pointer;
}
#delete-btn{
    height: 34px;
    width: 80px;
    background-color: red;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.todo-input-box, .todo-menu-box{
    display: grid;
    grid-template-columns: 200px 130px 100px;
    gap: 10px;
    margin-bottom: 10px;
}
.error-input{
    border-color: red;
}

/* screen  */
.screen{
    border: 1px solid black;
    height: 80vh;
    width: 80vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: black;
    color: #fff;
}
.todo-menu-box{
    padding-left: 20px;
    overflow-y: scroll;
}
.todo-menu-box::-webkit-scrollbar{
    appearance: none;
}



